{
  "openapi": "3.1.1",
  "info": {
    "title": "RESTful API",
    "description": "",
    "license": {
      "name": ""
    },
    "version": "5.0.0"
  },
  "servers": [
    {
      "url": "https://api.celltek.de"
    }
  ],
  "security": [
    {
      "Token": []
    }
  ],
  "paths": {
    "/system": {
      "get": {
        "security": [],
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/System"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/uptime": {
      "get": {
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Uptime"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/allowlist/ip": {
      "get": {
        "security": [
          {
            "TokenIP": []
          }
        ],
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AllowlistIP"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/allowlist/domain": {
      "get": {
        "security": [
          {
            "TokenDomain": []
          }
        ],
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AllowlistDomain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/blocklist/domains": {
      "get": {
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlocklistDomains"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/blocklist/phones": {
      "get": {
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlocklistPhones"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/blocklist/words": {
      "get": {
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlocklistWords"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/game/list": {
      "get": {
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/game/{tag}": {
      "get": {
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/game/id": {
      "get": {
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/game/{tag}/files": {
      "get": {
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/game/{tag}/addons": {
      "get": {
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/game/{tag}/mods": {
      "get": {
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/game/{tag}/addon/{slug}": {
      "get": {
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/game/{tag}/mod/{slug}": {
      "get": {
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/game/{id}/import/tekbase": {
      "get": {
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/game/query/{tag}/{ip}:{port}": {
      "get": {
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "System": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "response"
          }
        }
      },
      "Uptime": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "response"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "response"
          }
        }
      },
      "AllowlistIP": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "response"
          }
        }
      },
      "AllowlistDomain": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "response"
          }
        }
      },
      "Game": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "response"
          }
        }
      }
    },
    "securitySchemes": {
      "Token": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Enter your API-KEY in the format **&lt;api-key>**"
      },
      "TokenIP": {
        "type": "ip",
        "in": "header",
        "name": "Authorization",
        "description": "Enter your IP-ADRESS in the format **&lt;ip>**"
      },
      "TokenDomain": {
        "type": "domain",
        "in": "header",
        "name": "Authorization",
        "description": "Enter your DOMAIN in the format **&lt;domain>**"
      }
    }
  }
}