{
"openapi": "3.1.1",
"info": {
"title": "celltek RESTful-API",
"version": "5.0.0",
"description": "API-Dokumentation json"
},
"servers": [
{
"url": "https://api.celltek.de"
}
],
"paths": {
"/": {
"get": {
"summary": "Abruf von /",
"tags": [
"System"
],
"parameters": [],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"motd": {
"type": "string"
},
"author": {
"type": "string"
},
"version": {
"type": "string"
},
"_links": {
"type": "array",
"items": {
"type": "object",
"properties": {
"self": {
"type": "string"
},
"docs": {
"type": "string"
},
"swagger": {
"type": "string"
},
"github": {
"type": "string"
},
"roadmap": {
"type": "string"
}
}
}
}
}
}
}
}
}
}
}
}
}
}
},
"/system": {
"get": {
"summary": "Abruf von /system",
"tags": [
"System"
],
"parameters": [],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"author": {
"type": "string"
},
"version": {
"type": "string"
},
"system": {
"type": "array",
"items": {
"type": "object",
"properties": {
"php": {
"type": "string"
},
"ionCube Loader": {
"type": "string"
},
"timestamp": {
"type": "integer"
},
"time": {
"type": "string"
},
"timezone": {
"type": "string"
}
}
}
},
"versions": {
"type": "array",
"items": {
"type": "object",
"properties": {
"changelog": {
"type": "string"
},
"database": {
"type": "string"
},
"covers": {
"type": "string"
},
"icons": {
"type": "string"
},
"i18n": {
"type": "string"
},
"gameprotocol": {
"type": "string"
}
}
}
}
}
}
}
}
}
}
}
}
}
}
},
"/uptime": {
"get": {
"summary": "Abruf von /uptime",
"tags": [
"System"
],
"parameters": [],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"monitors": {
"type": "array",
"items": {
"type": "object",
"properties": [
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "integer"
},
"cert_is_valid": {
"type": "integer"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "integer"
},
"cert_is_valid": {
"type": "integer"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "integer"
},
"cert_is_valid": {
"type": "integer"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "integer"
},
"cert_is_valid": {
"type": "integer"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "integer"
},
"cert_is_valid": {
"type": "integer"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "integer"
},
"cert_is_valid": {
"type": "integer"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "integer"
},
"cert_is_valid": {
"type": "integer"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "integer"
},
"cert_is_valid": {
"type": "integer"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "integer"
},
"cert_is_valid": {
"type": "integer"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "integer"
},
"cert_is_valid": {
"type": "integer"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "string"
},
"cert_is_valid": {
"type": "string"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "string"
},
"cert_is_valid": {
"type": "string"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "string"
},
"cert_is_valid": {
"type": "string"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "string"
},
"cert_is_valid": {
"type": "string"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "string"
},
"cert_is_valid": {
"type": "string"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "string"
},
"cert_is_valid": {
"type": "string"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "string"
},
"cert_is_valid": {
"type": "string"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"cert_days_remaining": {
"type": "string"
},
"cert_is_valid": {
"type": "string"
},
"response_time": {
"type": "integer"
},
"status": {
"type": "integer"
}
}
}
}
]
}
}
}
}
}
}
}
}
}
},
"/game/{GAMETAG}": {
"get": {
"summary": "Abruf von /game/{GAMETAG}",
"tags": [
"Gameserver"
],
"parameters": [
{
"name": "GAMETAG",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "minecraft"
}
],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"tag": {
"type": "string"
},
"changelog": {
"type": "string"
},
"files": {
"type": "array",
"items": {
"type": "object",
"properties": {
"count": {
"type": "string"
},
"list": {
"type": "string"
}
}
}
},
"addons": {
"type": "array",
"items": {
"type": "object",
"properties": {
"count": {
"type": "integer"
},
"list": {
"type": "string"
}
}
}
},
"mods": {
"type": "array",
"items": {
"type": "object",
"properties": {
"count": {
"type": "integer"
},
"list": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"short": {
"type": "integer"
},
"full": {
"type": "string"
}
}
}
},
"steam": {
"type": "array",
"items": {
"type": "object",
"properties": {
"appID": {
"type": "string"
},
"steamID": {
"type": "string"
},
"branch": {
"type": "string"
},
"mod": {
"type": "string"
}
}
}
},
"required": {
"type": "array",
"items": {
"type": "object",
"properties": {
"ram": {
"type": "boolean"
},
"steamLOGIN": {
"type": "boolean"
},
"steamTOKEN": {
"type": "boolean"
}
}
}
},
"image": {
"type": "array",
"items": {
"type": "object",
"properties": {
"icon": {
"type": "string"
},
"cover": {
"type": "string"
},
"banner": {
"type": "string"
},
"background": {
"type": "string"
},
"library": {
"type": "string"
}
}
}
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"tar": {
"type": "string"
},
"size": {
"type": "integer"
},
"md5": {
"type": "string"
},
"download": {
"type": "string"
}
}
}
},
"import": {
"type": "array",
"items": {
"type": "object",
"properties": {
"tekbase": {
"type": "string"
}
}
}
},
"status": {
"type": "array",
"items": {
"type": "object",
"properties": {
"percent": {
"type": "integer"
},
"text": {
"type": "string"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
},
"timezone": {
"type": "string"
}
}
}
}
}
}
}
}
}
}
}
}
}
}
},
"/game/id/{GAMEID}": {
"get": {
"summary": "Abruf von /game/id/{GAMEID}",
"tags": [
"Gameserver"
],
"parameters": [
{
"name": "GAMEID",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "14"
}
],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"tag": {
"type": "string"
},
"changelog": {
"type": "string"
},
"files": {
"type": "array",
"items": {
"type": "object",
"properties": {
"count": {
"type": "string"
},
"list": {
"type": "string"
}
}
}
},
"addons": {
"type": "array",
"items": {
"type": "object",
"properties": {
"count": {
"type": "integer"
},
"list": {
"type": "string"
}
}
}
},
"mods": {
"type": "array",
"items": {
"type": "object",
"properties": {
"count": {
"type": "integer"
},
"list": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"short": {
"type": "integer"
},
"full": {
"type": "string"
}
}
}
},
"steam": {
"type": "array",
"items": {
"type": "object",
"properties": {
"appID": {
"type": "string"
},
"steamID": {
"type": "string"
},
"branch": {
"type": "string"
},
"mod": {
"type": "string"
}
}
}
},
"required": {
"type": "array",
"items": {
"type": "object",
"properties": {
"ram": {
"type": "boolean"
},
"steamLOGIN": {
"type": "boolean"
},
"steamTOKEN": {
"type": "boolean"
}
}
}
},
"image": {
"type": "array",
"items": {
"type": "object",
"properties": {
"icon": {
"type": "string"
},
"cover": {
"type": "string"
},
"banner": {
"type": "string"
},
"background": {
"type": "string"
},
"library": {
"type": "string"
}
}
}
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"tar": {
"type": "string"
},
"size": {
"type": "integer"
},
"md5": {
"type": "string"
},
"download": {
"type": "string"
}
}
}
},
"import": {
"type": "array",
"items": {
"type": "object",
"properties": {
"tekbase": {
"type": "string"
}
}
}
},
"status": {
"type": "array",
"items": {
"type": "object",
"properties": {
"percent": {
"type": "integer"
},
"text": {
"type": "string"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
},
"timezone": {
"type": "string"
}
}
}
}
}
}
}
}
}
}
}
}
}
}
},
"/game/{GAMETAG}/files": {
"get": {
"summary": "Abruf von /game/{GAMETAG}/files",
"tags": [
"Gameserver"
],
"parameters": [
{
"name": "GAMETAG",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "minecraft"
}
],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"message": {
"type": "string"
},
"status": {
"type": "integer"
},
"error": {
"type": "string"
}
}
}
}
}
}
}
}
}
}
}
},
"/game/{GAMETAG}/addons": {
"get": {
"summary": "Abruf von /game/{GAMETAG}/addons",
"tags": [
"Gameserver"
],
"parameters": [
{
"name": "GAMETAG",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "minecraft"
}
],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"worldedit": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"worldguard": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"permissionsex": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"vault": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"multiverse-core": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "number"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"clearlag": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"essentialsx": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"holographic-displays": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"citizens": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"dynmap": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"chestshop": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"multiverse-portals": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"plugman": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"shopkeepers": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"grief-prevention": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"openinv": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"minepacks": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"set-homes": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"marriage-master": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"chatex": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"chatcolor": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"npcauctions": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"coreprotect": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"multiverse-netherportals": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"craftbook": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"chairsreloaded": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"player-heads": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"animated-tablist": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"bpermissions": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"discordsrv": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
},
"deadchest": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"slug": {
"type": "string"
},
"changelog": {
"type": "string"
},
"link": {
"type": "string"
},
"file": {
"type": "array",
"items": {
"type": "object",
"properties": {
"url": {
"type": "string"
},
"name": {
"type": "string"
}
}
}
},
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"full": {
"type": "integer"
}
}
}
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"create_at": {
"type": "integer"
},
"update_at": {
"type": "integer"
}
}
}
}
}
}
}
}
}
}
}
}
}
}
},
"/game/{GAMETAG}/mods": {
"get": {
"summary": "Abruf von /game/{GAMETAG}/mods",
"tags": [
"Gameserver"
],
"parameters": [
{
"name": "GAMETAG",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "minecraft"
}
],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"message": {
"type": "string"
},
"status": {
"type": "integer"
},
"error": {
"type": "string"
}
}
}
}
}
}
}
}
}
}
}
},
"/game/{GAMETAG}/import/tekbase": {
"get": {
"summary": "Abruf von /game/{GAMETAG}/import/tekbase",
"tags": [
"Gameserver"
],
"parameters": [
{
"name": "GAMETAG",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "minecraft"
}
],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"sname": {
"type": "string"
},
"serverfile": {
"type": "string"
},
"appid": {
"type": "string"
},
"steamid": {
"type": "string"
},
"protect": {
"type": "integer"
},
"gameq": {
"type": "string"
},
"qstat": {
"type": "string"
},
"queryport": {
"type": "integer"
},
"script": {
"type": "string"
},
"scriptfolder": {
"type": "string"
},
"smap": {
"type": "string"
},
"stick": {
"type": "integer"
},
"map": {
"type": "integer"
},
"mods": {
"type": "integer"
},
"ram": {
"type": "integer"
},
"tickrate": {
"type": "integer"
},
"passwd": {
"type": "integer"
},
"hlstats": {
"type": "integer"
},
"workshopid": {
"type": "integer"
},
"portstart": {
"type": "integer"
},
"portend": {
"type": "integer"
},
"portstep": {
"type": "integer"
},
"updatescript": {
"type": "string"
},
"varnamea": {
"type": "string"
},
"varscripta": {
"type": "string"
},
"varnameb": {
"type": "string"
},
"varscriptb": {
"type": "string"
},
"varnamec": {
"type": "string"
},
"varscriptc": {
"type": "string"
},
"varnamed": {
"type": "string"
},
"varscriptd": {
"type": "string"
},
"varnamee": {
"type": "string"
},
"varscripte": {
"type": "string"
},
"varnamef": {
"type": "string"
},
"varscriptf": {
"type": "string"
},
"softlimit": {
"type": "string"
},
"multi": {
"type": "integer"
},
"active": {
"type": "integer"
}
}
}
}
}
}
}
}
},
"/game/query/{GAMETAG}/{GAMEHOST}:{GAMEPORT}": {
"get": {
"summary": "Abruf von /game/query/{GAMETAG}/{GAMEHOST}:{GAMEPORT}",
"tags": [
"Gameserver"
],
"parameters": [
{
"name": "GAMETAG",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "minecraft"
},
{
"name": "GAMEHOST",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "skycave.de"
},
{
"name": "GAMEPORT",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "25565"
}
],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"status": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"ip": {
"type": "string"
},
"data": {
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"map": {
"type": "string"
},
"password": {
"type": "boolean"
},
"raw": {
"type": "array",
"items": {
"type": "object",
"properties": {
"vanilla": {
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"map": {
"type": "string"
},
"password": {
"type": "boolean"
},
"raw": {
"type": "array",
"items": {
"type": "object",
"properties": {
"version": {
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"protocol": {
"type": "integer"
}
}
}
},
"players": {
"type": "array",
"items": {
"type": "object",
"properties": {
"max": {
"type": "integer"
},
"online": {
"type": "integer"
}
}
}
},
"description": {
"type": "string"
},
"favicon": {
"type": "string"
},
"modinfo": {
"type": "array",
"items": {
"type": "object",
"properties": {
"type": {
"type": "string"
},
"modList": {
"type": "array",
"items": {
"type": "object",
"properties": []
}
}
}
}
},
"bcc": {
"type": "array",
"items": {
"type": "object",
"properties": []
}
}
}
}
},
"version": {
"type": "string"
},
"maxplayers": {
"type": "integer"
},
"numplayers": {
"type": "integer"
},
"players": {
"type": "array",
"items": {
"type": "object",
"properties": []
}
},
"bots": {
"type": "array",
"items": {
"type": "object",
"properties": []
}
},
"queryPort": {
"type": "integer"
},
"connect": {
"type": "string"
},
"ping": {
"type": "integer"
}
}
}
}
}
}
},
"version": {
"type": "string"
},
"maxplayers": {
"type": "integer"
},
"numplayers": {
"type": "integer"
},
"players": {
"type": "array",
"items": {
"type": "object",
"properties": []
}
},
"bots": {
"type": "array",
"items": {
"type": "object",
"properties": []
}
},
"queryPort": {
"type": "integer"
},
"connect": {
"type": "string"
},
"ping": {
"type": "integer"
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
},
"/voice/version": {
"get": {
"summary": "Abruf von /voice/version",
"tags": [
"Voiceserver"
],
"parameters": [],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"linux": {
"type": "array",
"items": {
"type": "object",
"properties": {
"version": {
"type": "string"
},
"download": {
"type": "string"
}
}
}
},
"windows": {
"type": "array",
"items": {
"type": "object",
"properties": {
"version": {
"type": "string"
},
"download": {
"type": "string"
}
}
}
}
}
}
}
}
}
}
}
}
}
}
},
"/voice/download/{OS}": {
"get": {
"summary": "Abruf von /voice/download/{OS}",
"tags": [
"Voiceserver"
],
"parameters": [
{
"name": "OS",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "linux"
}
],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "string"
}
}
}
}
}
}
},
"/voice/query/{VOICEHOST}:{VOICEPORT}/{VOICEQUERYPORT}": {
"get": {
"summary": "Abruf von /voice/query/{VOICEHOST}:{VOICEPORT}/{VOICEQUERYPORT}",
"tags": [
"Voiceserver"
],
"parameters": [
{
"name": "VOICEHOST",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "51.195.116.218"
},
{
"name": "VOICEPORT",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "9987"
},
{
"name": "VOICEQUERYPORT",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "10011"
}
],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"host": {
"type": "string"
},
"severid": {
"type": "integer"
},
"serverinfo": {
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"password": {
"type": "boolean"
},
"platform": {
"type": "string"
},
"version": {
"type": "string"
},
"ping": {
"type": "string"
},
"maxplayers": {
"type": "integer"
},
"clients": {
"type": "integer"
},
"channels": {
"type": "integer"
},
"uptime": {
"type": "string"
}
}
}
},
"clients": {
"type": "array",
"items": {
"type": "object",
"properties": [
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"raw": {
"type": "array",
"items": {
"type": "object",
"properties": {
"clid": {
"type": "integer"
},
"cid": {
"type": "integer"
},
"client_database_id": {
"type": "integer"
},
"client_type": {
"type": "integer"
}
}
}
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"raw": {
"type": "array",
"items": {
"type": "object",
"properties": {
"clid": {
"type": "integer"
},
"cid": {
"type": "integer"
},
"client_database_id": {
"type": "integer"
},
"client_type": {
"type": "integer"
}
}
}
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"raw": {
"type": "array",
"items": {
"type": "object",
"properties": {
"clid": {
"type": "integer"
},
"cid": {
"type": "integer"
},
"client_database_id": {
"type": "integer"
},
"client_type": {
"type": "integer"
}
}
}
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"raw": {
"type": "array",
"items": {
"type": "object",
"properties": {
"clid": {
"type": "integer"
},
"cid": {
"type": "integer"
},
"client_database_id": {
"type": "integer"
},
"client_type": {
"type": "integer"
}
}
}
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"raw": {
"type": "array",
"items": {
"type": "object",
"properties": {
"clid": {
"type": "integer"
},
"cid": {
"type": "integer"
},
"client_database_id": {
"type": "integer"
},
"client_type": {
"type": "integer"
}
}
}
}
}
}
}
]
}
},
"channels": {
"type": "array",
"items": {
"type": "object",
"properties": [
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"cid": {
"type": "integer"
},
"pid": {
"type": "integer"
},
"channel_order": {
"type": "integer"
},
"channel_name": {
"type": "string"
},
"channel_topic": {
"type": "string"
},
"total_clients": {
"type": "integer"
},
"channel_needed_subscribe_power": {
"type": "integer"
}
}
}
}
]
}
}
}
}
}
}
}
}
}
}
}
}
},
"/tekbase/version": {
"get": {
"summary": "Abruf von /tekbase/version",
"tags": [
"TekLab (TekBASE Software)"
],
"parameters": [],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"version": {
"type": "string"
},
"changelog": {
"type": "string"
},
"download": {
"type": "string"
},
"update": {
"type": "string"
}
}
}
}
}
}
}
}
}
}
}
},
"/tekbase/changelog": {
"get": {
"summary": "Abruf von /tekbase/changelog",
"tags": [
"TekLab (TekBASE Software)"
],
"parameters": [],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"changelog": {
"type": "string"
}
}
}
}
}
}
}
}
}
}
}
},
"/tekbase/download/{FULL|UPDATE}": {
"get": {
"summary": "Abruf von /tekbase/download/{FULL|UPDATE}",
"tags": [
"TekLab (TekBASE Software)"
],
"parameters": [
{
"name": "FULL|UPDATE",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "unknown"
}
],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"message": {
"type": "string"
},
"status": {
"type": "integer"
},
"error": {
"type": "string"
}
}
}
}
}
}
}
}
}
}
}
},
"/git/repo/{REPO}": {
"get": {
"summary": "Abruf von /git/repo/{REPO}",
"tags": [
"GIT-Repository"
],
"parameters": [
{
"name": "REPO",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "tekbase-database"
}
],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"url": {
"type": "string"
},
"file": {
"type": "string"
},
"version": {
"type": "string"
},
"time": {
"type": "array",
"items": {
"type": "object",
"properties": {
"created_at": {
"type": "string"
},
"updated_at": {
"type": "string"
}
}
}
}
}
}
}
}
}
}
}
}
}
}
},
"/req/ip": {
"get": {
"summary": "Abruf von /req/ip",
"tags": [
"IP-Adress-Lookup"
],
"parameters": [],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"short": {
"type": "array",
"items": {
"type": "object",
"properties": {
"ip": {
"type": "string"
},
"city": {
"type": "string"
},
"region": {
"type": "string"
},
"country": {
"type": "string"
},
"loc": {
"type": "string"
},
"org": {
"type": "string"
},
"postal": {
"type": "integer"
},
"timezone": {
"type": "string"
}
}
}
},
"details": {
"type": "array",
"items": {
"type": "object",
"properties": {
"ip": {
"type": "string"
},
"hostname": {
"type": "string"
},
"type": {
"type": "string"
},
"continent_code": {
"type": "string"
},
"continent_name": {
"type": "string"
},
"country_code": {
"type": "string"
},
"country_name": {
"type": "string"
},
"region_code": {
"type": "string"
},
"region_name": {
"type": "string"
},
"city": {
"type": "string"
},
"zip": {
"type": "string"
},
"latitude": {
"type": "integer"
},
"longitude": {
"type": "integer"
},
"msa": {
"type": "string"
},
"dma": {
"type": "string"
},
"radius": {
"type": "string"
},
"ip_routing_type": {
"type": "string"
},
"connection_type": {
"type": "string"
},
"location": {
"type": "array",
"items": {
"type": "object",
"properties": {
"geoname_id": {
"type": "string"
},
"capital": {
"type": "string"
},
"languages": {
"type": "array",
"items": {
"type": "object",
"properties": [
{
"type": "array",
"items": {
"type": "object",
"properties": {
"code": {
"type": "string"
},
"name": {
"type": "string"
},
"native": {
"type": "string"
}
}
}
}
]
}
},
"country_flag": {
"type": "string"
},
"country_flag_emoji": {
"type": "string"
},
"country_flag_emoji_unicode": {
"type": "string"
},
"calling_code": {
"type": "integer"
},
"is_eu": {
"type": "boolean"
}
}
}
},
"time_zone": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "string"
},
"current_time": {
"type": "string"
},
"gmt_offset": {
"type": "integer"
},
"code": {
"type": "string"
},
"is_daylight_saving": {
"type": "boolean"
}
}
}
},
"currency": {
"type": "array",
"items": {
"type": "object",
"properties": {
"code": {
"type": "string"
},
"name": {
"type": "string"
},
"plural": {
"type": "string"
},
"symbol": {
"type": "string"
},
"symbol_native": {
"type": "string"
}
}
}
},
"connection": {
"type": "array",
"items": {
"type": "object",
"properties": {
"asn": {
"type": "integer"
},
"isp": {
"type": "string"
},
"sld": {
"type": "string"
},
"tld": {
"type": "string"
},
"carrier": {
"type": "string"
},
"home": {
"type": "string"
},
"organization_type": {
"type": "string"
},
"isic_code": {
"type": "string"
},
"naics_code": {
"type": "string"
}
}
}
},
"security": {
"type": "array",
"items": {
"type": "object",
"properties": {
"is_proxy": {
"type": "boolean"
},
"proxy_type": {
"type": "string"
},
"is_crawler": {
"type": "boolean"
},
"crawler_name": {
"type": "string"
},
"crawler_type": {
"type": "string"
},
"is_tor": {
"type": "boolean"
},
"threat_level": {
"type": "string"
},
"threat_types": {
"type": "string"
},
"proxy_last_detected": {
"type": "string"
},
"proxy_level": {
"type": "string"
},
"vpn_service": {
"type": "string"
},
"anonymizer_status": {
"type": "string"
},
"hosting_facility": {
"type": "boolean"
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
},
"/req/ip/{IP}": {
"get": {
"summary": "Abruf von /req/ip/{IP}",
"tags": [
"IP-Adress-Lookup"
],
"parameters": [
{
"name": "IP",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "127.0.0.1"
}
],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"short": {
"type": "array",
"items": {
"type": "object",
"properties": {
"ip": {
"type": "string"
},
"bogon": {
"type": "boolean"
}
}
}
},
"details": {
"type": "array",
"items": {
"type": "object",
"properties": {
"ip": {
"type": "string"
},
"hostname": {
"type": "string"
},
"type": {
"type": "string"
},
"continent_code": {
"type": "string"
},
"continent_name": {
"type": "string"
},
"country_code": {
"type": "string"
},
"country_name": {
"type": "string"
},
"region_code": {
"type": "string"
},
"region_name": {
"type": "string"
},
"city": {
"type": "string"
},
"zip": {
"type": "string"
},
"latitude": {
"type": "integer"
},
"longitude": {
"type": "integer"
},
"msa": {
"type": "string"
},
"dma": {
"type": "string"
},
"radius": {
"type": "string"
},
"ip_routing_type": {
"type": "string"
},
"connection_type": {
"type": "string"
},
"location": {
"type": "array",
"items": {
"type": "object",
"properties": {
"geoname_id": {
"type": "string"
},
"capital": {
"type": "string"
},
"languages": {
"type": "string"
},
"country_flag": {
"type": "string"
},
"country_flag_emoji": {
"type": "string"
},
"country_flag_emoji_unicode": {
"type": "string"
},
"calling_code": {
"type": "string"
},
"is_eu": {
"type": "string"
}
}
}
},
"time_zone": {
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "string"
},
"current_time": {
"type": "string"
},
"gmt_offset": {
"type": "string"
},
"code": {
"type": "string"
},
"is_daylight_saving": {
"type": "string"
}
}
}
},
"currency": {
"type": "array",
"items": {
"type": "object",
"properties": {
"code": {
"type": "string"
},
"name": {
"type": "string"
},
"plural": {
"type": "string"
},
"symbol": {
"type": "string"
},
"symbol_native": {
"type": "string"
}
}
}
},
"connection": {
"type": "array",
"items": {
"type": "object",
"properties": {
"asn": {
"type": "string"
},
"isp": {
"type": "string"
},
"sld": {
"type": "string"
},
"tld": {
"type": "string"
},
"carrier": {
"type": "string"
},
"home": {
"type": "string"
},
"organization_type": {
"type": "string"
},
"isic_code": {
"type": "string"
},
"naics_code": {
"type": "string"
}
}
}
},
"security": {
"type": "array",
"items": {
"type": "object",
"properties": {
"is_proxy": {
"type": "string"
},
"proxy_type": {
"type": "string"
},
"is_crawler": {
"type": "string"
},
"crawler_name": {
"type": "string"
},
"crawler_type": {
"type": "string"
},
"is_tor": {
"type": "string"
},
"threat_level": {
"type": "string"
},
"threat_types": {
"type": "string"
},
"proxy_last_detected": {
"type": "string"
},
"proxy_level": {
"type": "string"
},
"vpn_service": {
"type": "string"
},
"anonymizer_status": {
"type": "string"
},
"hosting_facility": {
"type": "string"
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
},
"/req/sslscan/{DOMAIN}": {
"get": {
"summary": "Abruf von /req/sslscan/{DOMAIN}",
"tags": [
"Domain-SSL-Scan"
],
"parameters": [
{
"name": "DOMAIN",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "google.de"
}
],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"host": {
"type": "string"
},
"port": {
"type": "integer"
},
"protocol": {
"type": "string"
},
"isPublic": {
"type": "boolean"
},
"status": {
"type": "string"
},
"startTime": {
"type": "integer"
},
"testTime": {
"type": "integer"
},
"engineVersion": {
"type": "string"
},
"criteriaVersion": {
"type": "string"
},
"endpoints": {
"type": "array",
"items": {
"type": "object",
"properties": [
{
"type": "array",
"items": {
"type": "object",
"properties": {
"ipAddress": {
"type": "string"
},
"serverName": {
"type": "string"
},
"statusMessage": {
"type": "string"
},
"grade": {
"type": "string"
},
"gradeTrustIgnored": {
"type": "string"
},
"hasWarnings": {
"type": "boolean"
},
"isExceptional": {
"type": "boolean"
},
"progress": {
"type": "integer"
},
"duration": {
"type": "integer"
},
"delegation": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"ipAddress": {
"type": "string"
},
"serverName": {
"type": "string"
},
"statusMessage": {
"type": "string"
},
"grade": {
"type": "string"
},
"gradeTrustIgnored": {
"type": "string"
},
"hasWarnings": {
"type": "boolean"
},
"isExceptional": {
"type": "boolean"
},
"progress": {
"type": "integer"
},
"duration": {
"type": "integer"
},
"delegation": {
"type": "integer"
}
}
}
}
]
}
}
}
}
}
}
}
}
}
},
"/req/tmp/version": {
"get": {
"summary": "Abruf von /req/tmp/version",
"tags": [
"TruckerMP"
],
"parameters": [],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string"
},
"numeric": {
"type": "integer"
},
"stage": {
"type": "string"
},
"ets2mp_checksum": {
"type": "array",
"items": {
"type": "object",
"properties": {
"dll": {
"type": "string"
},
"adb": {
"type": "string"
}
}
}
},
"atsmp_checksum": {
"type": "array",
"items": {
"type": "object",
"properties": {
"dll": {
"type": "string"
},
"adb": {
"type": "string"
}
}
}
},
"time": {
"type": "string"
},
"supported_game_version": {
"type": "string"
},
"supported_ats_game_version": {
"type": "string"
}
}
}
}
}
}
}
}
}
}
}
},
"/req/tmp/time": {
"get": {
"summary": "Abruf von /req/tmp/time",
"tags": [
"TruckerMP"
],
"parameters": [],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"timestamp": {
"type": "integer"
},
"time": {
"type": "string"
}
}
}
}
}
}
}
}
}
}
}
},
"/req/tmp/server": {
"get": {
"summary": "Abruf von /req/tmp/server",
"tags": [
"TruckerMP"
],
"parameters": [],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": [
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"game": {
"type": "string"
},
"ip": {
"type": "string"
},
"port": {
"type": "integer"
},
"name": {
"type": "string"
},
"shortname": {
"type": "string"
},
"idprefix": {
"type": "string"
},
"online": {
"type": "boolean"
},
"players": {
"type": "integer"
},
"queue": {
"type": "integer"
},
"maxplayers": {
"type": "integer"
},
"mapid": {
"type": "integer"
},
"displayorder": {
"type": "integer"
},
"speedlimiter": {
"type": "integer"
},
"collisions": {
"type": "boolean"
},
"carsforplayers": {
"type": "boolean"
},
"policecarsforplayers": {
"type": "boolean"
},
"afkenabled": {
"type": "boolean"
},
"event": {
"type": "boolean"
},
"specialEvent": {
"type": "boolean"
},
"promods": {
"type": "boolean"
},
"syncdelay": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"game": {
"type": "string"
},
"ip": {
"type": "string"
},
"port": {
"type": "integer"
},
"name": {
"type": "string"
},
"shortname": {
"type": "string"
},
"idprefix": {
"type": "string"
},
"online": {
"type": "boolean"
},
"players": {
"type": "integer"
},
"queue": {
"type": "integer"
},
"maxplayers": {
"type": "integer"
},
"mapid": {
"type": "integer"
},
"displayorder": {
"type": "integer"
},
"speedlimiter": {
"type": "integer"
},
"collisions": {
"type": "boolean"
},
"carsforplayers": {
"type": "boolean"
},
"policecarsforplayers": {
"type": "boolean"
},
"afkenabled": {
"type": "boolean"
},
"event": {
"type": "boolean"
},
"specialEvent": {
"type": "boolean"
},
"promods": {
"type": "boolean"
},
"syncdelay": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"game": {
"type": "string"
},
"ip": {
"type": "string"
},
"port": {
"type": "integer"
},
"name": {
"type": "string"
},
"shortname": {
"type": "string"
},
"idprefix": {
"type": "string"
},
"online": {
"type": "boolean"
},
"players": {
"type": "integer"
},
"queue": {
"type": "integer"
},
"maxplayers": {
"type": "integer"
},
"mapid": {
"type": "integer"
},
"displayorder": {
"type": "integer"
},
"speedlimiter": {
"type": "integer"
},
"collisions": {
"type": "boolean"
},
"carsforplayers": {
"type": "boolean"
},
"policecarsforplayers": {
"type": "boolean"
},
"afkenabled": {
"type": "boolean"
},
"event": {
"type": "boolean"
},
"specialEvent": {
"type": "boolean"
},
"promods": {
"type": "boolean"
},
"syncdelay": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"game": {
"type": "string"
},
"ip": {
"type": "string"
},
"port": {
"type": "integer"
},
"name": {
"type": "string"
},
"shortname": {
"type": "string"
},
"idprefix": {
"type": "string"
},
"online": {
"type": "boolean"
},
"players": {
"type": "integer"
},
"queue": {
"type": "integer"
},
"maxplayers": {
"type": "integer"
},
"mapid": {
"type": "integer"
},
"displayorder": {
"type": "integer"
},
"speedlimiter": {
"type": "integer"
},
"collisions": {
"type": "boolean"
},
"carsforplayers": {
"type": "boolean"
},
"policecarsforplayers": {
"type": "boolean"
},
"afkenabled": {
"type": "boolean"
},
"event": {
"type": "boolean"
},
"specialEvent": {
"type": "boolean"
},
"promods": {
"type": "boolean"
},
"syncdelay": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"game": {
"type": "string"
},
"ip": {
"type": "string"
},
"port": {
"type": "integer"
},
"name": {
"type": "string"
},
"shortname": {
"type": "string"
},
"idprefix": {
"type": "string"
},
"online": {
"type": "boolean"
},
"players": {
"type": "integer"
},
"queue": {
"type": "integer"
},
"maxplayers": {
"type": "integer"
},
"mapid": {
"type": "integer"
},
"displayorder": {
"type": "integer"
},
"speedlimiter": {
"type": "integer"
},
"collisions": {
"type": "boolean"
},
"carsforplayers": {
"type": "boolean"
},
"policecarsforplayers": {
"type": "boolean"
},
"afkenabled": {
"type": "boolean"
},
"event": {
"type": "boolean"
},
"specialEvent": {
"type": "boolean"
},
"promods": {
"type": "boolean"
},
"syncdelay": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"game": {
"type": "string"
},
"ip": {
"type": "string"
},
"port": {
"type": "integer"
},
"name": {
"type": "string"
},
"shortname": {
"type": "string"
},
"idprefix": {
"type": "string"
},
"online": {
"type": "boolean"
},
"players": {
"type": "integer"
},
"queue": {
"type": "integer"
},
"maxplayers": {
"type": "integer"
},
"mapid": {
"type": "integer"
},
"displayorder": {
"type": "integer"
},
"speedlimiter": {
"type": "integer"
},
"collisions": {
"type": "boolean"
},
"carsforplayers": {
"type": "boolean"
},
"policecarsforplayers": {
"type": "boolean"
},
"afkenabled": {
"type": "boolean"
},
"event": {
"type": "boolean"
},
"specialEvent": {
"type": "boolean"
},
"promods": {
"type": "boolean"
},
"syncdelay": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"game": {
"type": "string"
},
"ip": {
"type": "string"
},
"port": {
"type": "integer"
},
"name": {
"type": "string"
},
"shortname": {
"type": "string"
},
"idprefix": {
"type": "string"
},
"online": {
"type": "boolean"
},
"players": {
"type": "integer"
},
"queue": {
"type": "integer"
},
"maxplayers": {
"type": "integer"
},
"mapid": {
"type": "integer"
},
"displayorder": {
"type": "integer"
},
"speedlimiter": {
"type": "integer"
},
"collisions": {
"type": "boolean"
},
"carsforplayers": {
"type": "boolean"
},
"policecarsforplayers": {
"type": "boolean"
},
"afkenabled": {
"type": "boolean"
},
"event": {
"type": "boolean"
},
"specialEvent": {
"type": "boolean"
},
"promods": {
"type": "boolean"
},
"syncdelay": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"game": {
"type": "string"
},
"ip": {
"type": "string"
},
"port": {
"type": "integer"
},
"name": {
"type": "string"
},
"shortname": {
"type": "string"
},
"idprefix": {
"type": "string"
},
"online": {
"type": "boolean"
},
"players": {
"type": "integer"
},
"queue": {
"type": "integer"
},
"maxplayers": {
"type": "integer"
},
"mapid": {
"type": "integer"
},
"displayorder": {
"type": "integer"
},
"speedlimiter": {
"type": "integer"
},
"collisions": {
"type": "boolean"
},
"carsforplayers": {
"type": "boolean"
},
"policecarsforplayers": {
"type": "boolean"
},
"afkenabled": {
"type": "boolean"
},
"event": {
"type": "boolean"
},
"specialEvent": {
"type": "boolean"
},
"promods": {
"type": "boolean"
},
"syncdelay": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"game": {
"type": "string"
},
"ip": {
"type": "string"
},
"port": {
"type": "integer"
},
"name": {
"type": "string"
},
"shortname": {
"type": "string"
},
"idprefix": {
"type": "string"
},
"online": {
"type": "boolean"
},
"players": {
"type": "integer"
},
"queue": {
"type": "integer"
},
"maxplayers": {
"type": "integer"
},
"mapid": {
"type": "integer"
},
"displayorder": {
"type": "integer"
},
"speedlimiter": {
"type": "integer"
},
"collisions": {
"type": "boolean"
},
"carsforplayers": {
"type": "boolean"
},
"policecarsforplayers": {
"type": "boolean"
},
"afkenabled": {
"type": "boolean"
},
"event": {
"type": "boolean"
},
"specialEvent": {
"type": "boolean"
},
"promods": {
"type": "boolean"
},
"syncdelay": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"game": {
"type": "string"
},
"ip": {
"type": "string"
},
"port": {
"type": "integer"
},
"name": {
"type": "string"
},
"shortname": {
"type": "string"
},
"idprefix": {
"type": "string"
},
"online": {
"type": "boolean"
},
"players": {
"type": "integer"
},
"queue": {
"type": "integer"
},
"maxplayers": {
"type": "integer"
},
"mapid": {
"type": "integer"
},
"displayorder": {
"type": "integer"
},
"speedlimiter": {
"type": "integer"
},
"collisions": {
"type": "boolean"
},
"carsforplayers": {
"type": "boolean"
},
"policecarsforplayers": {
"type": "boolean"
},
"afkenabled": {
"type": "boolean"
},
"event": {
"type": "boolean"
},
"specialEvent": {
"type": "boolean"
},
"promods": {
"type": "boolean"
},
"syncdelay": {
"type": "integer"
}
}
}
}
]
}
},
"error": {
"type": "string"
}
}
}
}
}
}
}
}
},
"/req/tmp/server/{TMPSERVERID}": {
"get": {
"summary": "Abruf von /req/tmp/server/{TMPSERVERID}",
"tags": [
"TruckerMP"
],
"parameters": [
{
"name": "TMPSERVERID",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "4"
}
],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"game": {
"type": "string"
},
"ip": {
"type": "string"
},
"port": {
"type": "integer"
},
"name": {
"type": "string"
},
"shortname": {
"type": "string"
},
"idprefix": {
"type": "string"
},
"online": {
"type": "boolean"
},
"players": {
"type": "integer"
},
"queue": {
"type": "integer"
},
"maxplayers": {
"type": "integer"
},
"mapid": {
"type": "integer"
},
"displayorder": {
"type": "integer"
},
"speedlimiter": {
"type": "integer"
},
"collisions": {
"type": "boolean"
},
"carsforplayers": {
"type": "boolean"
},
"policecarsforplayers": {
"type": "boolean"
},
"afkenabled": {
"type": "boolean"
},
"event": {
"type": "boolean"
},
"specialEvent": {
"type": "boolean"
},
"promods": {
"type": "boolean"
},
"syncdelay": {
"type": "integer"
}
}
}
}
}
}
}
}
},
"/req/tmp/server/map/{TMPMAPID}": {
"get": {
"summary": "Abruf von /req/tmp/server/map/{TMPMAPID}",
"tags": [
"TruckerMP"
],
"parameters": [
{
"name": "TMPMAPID",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "2"
}
],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"game": {
"type": "string"
},
"ip": {
"type": "string"
},
"port": {
"type": "integer"
},
"name": {
"type": "string"
},
"shortname": {
"type": "string"
},
"idprefix": {
"type": "string"
},
"online": {
"type": "boolean"
},
"players": {
"type": "integer"
},
"queue": {
"type": "integer"
},
"maxplayers": {
"type": "integer"
},
"mapid": {
"type": "integer"
},
"displayorder": {
"type": "integer"
},
"speedlimiter": {
"type": "integer"
},
"collisions": {
"type": "boolean"
},
"carsforplayers": {
"type": "boolean"
},
"policecarsforplayers": {
"type": "boolean"
},
"afkenabled": {
"type": "boolean"
},
"event": {
"type": "boolean"
},
"specialEvent": {
"type": "boolean"
},
"promods": {
"type": "boolean"
},
"syncdelay": {
"type": "integer"
}
}
}
}
}
}
}
}
},
"/req/tmp/player/{STEAMID64|TMPUSERID}": {
"get": {
"summary": "Abruf von /req/tmp/player/{STEAMID64|TMPUSERID}",
"tags": [
"TruckerMP"
],
"parameters": [
{
"name": "STEAMID64|TMPUSERID",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "unknown"
}
],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "string"
}
}
}
}
}
}
},
"/req/tmp/online/search/{STRING}": {
"get": {
"summary": "Abruf von /req/tmp/online/search/{STRING}",
"tags": [
"TruckerMP"
],
"parameters": [
{
"name": "STRING",
"in": "path",
"required": true,
"schema": {
"type": "string"
},
"example": "test"
}
],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": [
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
},
"avatar": {
"type": "string"
},
"profile": {
"type": "string"
},
"joinDate": {
"type": "string"
},
"groupName": {
"type": "string"
},
"banned": {
"type": "boolean"
},
"bansCount": {
"type": "integer"
},
"bannedUntil": {
"type": "string"
},
"gps": {
"type": "array",
"items": {
"type": "object",
"properties": {
"playerId": {
"type": "integer"
},
"X": {
"type": "integer"
},
"Y": {
"type": "integer"
},
"follow": {
"type": "string"
}
}
}
},
"server": {
"type": "array",
"items": {
"type": "object",
"properties": {
"game": {
"type": "string"
},
"name": {
"type": "string"
},
"url": {
"type": "string"
}
}
}
}
}
}
}
]
}
}
}
}
}
}
}
}
}
},
"/blocklist/domains": {
"get": {
"summary": "Abruf von /blocklist/domains",
"tags": [
"Blocklist"
],
"parameters": [],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"list": {
"type": "array",
"items": {
"type": "object",
"properties": [
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"id": {
"type": "integer"
},
"name": {
"type": "string"
}
}
}
}
]
}
}
}
}
}
}
}
}
}
}
}
}
},
"/blocklist/phones": {
"get": {
"summary": "Abruf von /blocklist/phones",
"tags": [
"Blocklist"
],
"parameters": [],
"security": [
{
"ApiKeyAuth": []
}
],
"responses": {
"200": {
"description": "Erfolgreiche Antwort",
"content": {
"application/json": {
"schema": {
"type": "object",
"properties": {
"response": {
"type": "array",
"items": {
"type": "object",
"properties": {
"list": {
"type": "array",
"items": {
"type": "object",
"properties": [
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
"name": {
"type": "integer"
}
}
}
},
{
"type": "array",
"items": {
"type": "object",
"properties": {
[...]
